* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Roboto', Arial, Helvetica, sans-serif;
}

html {
    font-size: 80%;
}

*::-webkit-scrollbar {
    width: 1vh;
    background-color: rgb(243, 243, 243);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(125, 125, 125);
    border-radius: 1rem;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}

.caret {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transition: opacity 500ms ease-in-out;
    
}

p {
    display: block;
    margin: 14px 5px;
    opacity: .95;
    font-size: 1.5rem;
    /* letter-spacing: .35px; */
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #000;
    background-color: #fff;
}

.card.card-shadow {
    border: none;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, .2);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

.panel {
    width: 100%;
    margin: 0;
    padding: 0rem 1.4rem 1.4rem 1.4rem;
    text-align: center;
    color: #000;
}

.enlarge {
    transition: opacity 225ms ease;
    transition: scale 150ms ease;
}

.enlarge:hover {
    opacity: .75;
    scale: 1.12;
}

/* First panel */

/*--------------------------------------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 100vh;
    margin-bottom: 1.4rem;
    position: relative;
    text-align: center;
    color: white;
}

.img-src {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    z-index: -1;
}

.clear-img {
    opacity: 0;
}

.portrait {
    height: 47.5%;
    align-items: flex-end;
}

.portrait > img {
    width: 240px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.header h1{
    color: #fff;
    margin: 0;
    font-size: 5rem;
    opacity: .85;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 50%);
}

.header h2 {
    margin: 0;
    font-size: 1.8rem;
    opacity: .4;
    position: absolute;
    letter-spacing: .9px;
    bottom: 15px;
    left: 15px;
}

.header p {
    margin: 7px;
    opacity: .8;
}

.icon-container {
    height: 10%;
}

.icon-container a i{
    color: #fff;
    opacity: .35;
    margin: 9px;
}

.header .caret > i {
    color: white;
}

/* PANEL TWO */

/*--------------------------------------------------------------------------------------------------------------- */

/* we want specifically intros cards to be full sized */

.intro .card {
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.panel-header {
    height: 10%;
}

i {
    color: rgb(80, 80, 154);
    opacity: .9;
}

.vert-txt {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2.1rem;
}

@media (min-width: 0px) {
    p {
        font-size: 1.1rem;
    }
    .vert-txt {
        width: 100%;
    }
}

@media (min-width: 600px) {
    p {
        font-size: 1.45rem;
    }
    .vert-txt {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .vert-txt {
        width: 55%;
    }
}

/* background1 panel */

/*--------------------------------------------------------------------------------------------------------------- */

.background {
    width: 100%;
    height: 35vh;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 1rem;
    text-align: center;
    border: none;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, .3);
}

.background h1 {
    color: #fff;
    margin: 0;
    opacity: .85;
    text-shadow: 2px 4px 3px rgb(0, 0, 0, 50%);
    font-size: 6rem;
}

@media (max-width: 600px) {
    .background h1{
        font-size: 5rem;
    }


}

/* job panel */

/*--------------------------------------------------------------------------------------------------------------- */

/* for when i have more cards */
/* .job .container {
    justify-content: space-around;
} */

.job > .container {
    flex-direction: row;
}

.job .card {
    margin: 0rem;
    max-width: 350px;
    min-width: 10px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-block: auto;
}

.job .card-box {
    position: relative;
    margin: 1rem 1rem;
}

.job .card.current {
    max-width: 650px;
}

/* makes a gradient towards bottom of card */
.job .card-box::before { 
    content:'';
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position:absolute;
    top: 0;
    left: 0;
    background:linear-gradient(transparent 335px, rgb(255, 255, 255));
    pointer-events: none;
}

.job .card-header.card-img img {
    width: 60%;
    max-width: 225px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border: none;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, .2);
} 

@media (max-width:800px) {
    .job .card {
        max-width: 500px;
        overscroll-behavior-block: auto;
    }
    .card-header.card-img img {
        width: 40%;
        min-width: 150px;
    }
}

.card-body h1 {
    margin: .5rem 0rem;
}

.card-body h2 {
    color: rgb(43, 43, 43);
    margin: .5rem 0rem;

}

.card-body h3 {
    color: rgb(120, 120, 120);
    margin: .5rem 0rem;

}

.card-body ul {
    padding: 0px 0px 0px 1.25rem;
    text-align: left;
    font-size: 1.2rem;
}

.job .caret > i {
    color: #000;
}

.job .card:hover .caret {
    opacity: 0;
}

.card .enlarge {
    transition: opacity 225ms ease;
    transition: scale 150ms ease;
}

.card .enlarge:hover {
    opacity: .95;
    scale: 1.075;
}   

/* hide scroll bars */
.card::-webkit-scrollbar {
    display: none;
}

.card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}  

/* Skills Panel -------------------------------------------------------------------------------------------------------- */

.skill > .card {
 background-color: rgb(255, 255, 255);
}

.skill .card .card {
    margin: 1rem;
    max-width: 235px;
}

.skill .card-header.card-img img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: 90%;
    border-radius: 100%;
    border: #000;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, .2);

} 

.skill h1 {
    margin: .5rem 0;
}

.java.container > h1 {
    font-size: 4rem;
    margin: 1rem 3rem;
    width: 50%;
}

.java.container .card{
    max-width: 275px;
}

.row.container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

/* customizing scroll bars, commeneted bc horizontal scrolling can't be done with mouse*/ 
.row.container::-webkit-scrollbar {
    background-color: rgb(231, 231, 231);
    height: 1vh;
}

.row.container::-webkit-scrollbar-thumb {
    background-color: rgb(144, 174, 230);
}

.row.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}  

.wrapper {
    position: relative;
}

#last {
    font-size: 3.5rem;
    margin: 2rem 1rem;
}
/* add transparent element */

.wrapper::before { 
    content:'';
    width: 8%;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    background:linear-gradient(to right, transparent, rgb(255, 255, 255));
    pointer-events: none;
    z-index: 1;
}

.row.container > .card {
    flex-shrink: 0;
}

.skill .card .tech .card {
    max-width: 175px;
}

@media (max-width: 925px) {
    .java.container > h1 {
        width: 100%;
        font-size: 3rem;
    }

    .skill .card .card {
        margin: 1rem;
        max-width: 200px;
    }

    .java.container .card{
        max-width: 250px;
    }

    #last {
        font-size: 2.5rem;
        margin: 1rem 1rem;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
}

.menu > a {
    color: rgba(255, 255, 255, 0.822);
    text-decoration: none;
    margin: 1rem 2rem;
}